nav {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-inline: $spacing-2;
	padding-top: $spacing-4;
	padding-bottom: $spacing-8;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba($alt-color, 0.5);
	box-shadow: 0 0 50rem rgba($black, 0.75);
	z-index: 1;
	@include backgroundBlur(7rem);

	a {
		opacity: 0.7;
		font-size: min(7vw, 32rem);

		&.current {
			color: $main-color;
			opacity: 1;
		}
	}
}

:global(#app) {
	padding-bottom: var(--navbar-height);
}

@include on-desktop() {
	nav {
		left: 0;
		right: auto;
		width: auto;
		inset-block: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-top: none;
		gap: $spacing-8;
		padding: $spacing-4;

		:global(button.plus) {
			order: 1;
			margin-bottom: auto;
		}

		a {
			order: 2;
		}
	}

	:global(#app) {
		padding-bottom: 0;
		padding-left: var(--navbar-width);
	}
}
