@import '@styles/includes/mixins';

nav {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-inline: var(--spacing-2);
	padding-block: var(--spacing-4);
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1rem solid var(--main-color);
	box-shadow: 0 0 50rem #333;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	font-size: 24rem;

	@include on-desktop() {
		padding: var(--spacing-4);
		left: 0;
		right: auto;
		width: auto;
		inset-block: 0;
		flex-direction: column;
		justify-content: flex-start;
		border-top: none;
		border-right: 1rem solid var(--main-color);
	}
}

.plus {
	display: block;
	border: 2rem solid #ddd;
	line-height: 0;
	width: 50rem;
	height: 50rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}
