nav {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: $spacing-4;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-top: 1rem solid $main-color;
	background-color: rgba($alt-color, 0.5);
	box-shadow: 0 0 50rem rgba($black, 0.75);

	button {
		opacity: 0.5;
		font-size: min(7vw, 32rem);
		display: flex;

		&.current {
			transform: scale(1.1);
			color: $main-color;
			opacity: 1;
			filter: drop-shadow(0 0 0.125em currentColor);
		}
	}
}

:global(#app) {
	padding-bottom: var(--navbar-height);
}

@include on-desktop() {
	nav {
		left: 0;
		right: auto;
		width: auto;
		inset-block: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-top: none;
		gap: $spacing-8;
		padding: $spacing-4;
		border-top: none;
		border-right: 1rem solid $main-color;

		span {
			order: 1;
			margin-bottom: auto;
		}

		button {
			order: 2;
		}
	}

	:global(#app) {
		padding-bottom: 0;
		padding-left: var(--navbar-width);
	}
}
