article {
	display: flex;
	flex-direction: column;
	gap: $spacing-1;
	position: relative;
	font-size: 16rem;
	width: fit-content;
	text-align: center;

	@mixin background($image) {
		background-image: $image;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&.open {
		padding-right: 8em;
	}

	&.barely-open {
		padding-right: 4em;
	}

	&.half-open {
		padding-right: 5.75em;
	}

	.cover {
		height: 12em;
		aspect-ratio: 1;
		background-color: $grey-500;
		border-radius: 2%;
		box-shadow: 0 0.75em 5rem -5rem rgba($black, 0.35);
		margin-bottom: $spacing-4;
		@include background(var(--cover-image));

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0.25em;
			height: 11.5em;
			aspect-ratio: 1;
			z-index: -2;
			@include background(url('./disk.png'));
		}

		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: 3.625em;
			right: 3.35em;
			height: 4.75em;
			aspect-ratio: 1;
			z-index: -1;
			border-radius: 100%;
			@include background(var(--cover-image));
			filter: brightness(0.75) grayscale(0.25);
		}
	}
}
