html {
	// 1rem = 1px
	font-size: 1px;
	font-family: var(--font-family);
	width: 100vw;
	height: 100vh;
}

@import '@styles/includes/mixins';

body {
	min-height: 100%;
	font-size: 16rem;
	color: var(--text-color);
	background-color: var(--alt-color);
	background-image: url('images/background.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	scroll-behavior: smooth;
	padding-bottom: var(--navbar-height);
}




@include on-desktop() {
	body {
		padding-bottom: 0;
		padding-left: var(--navbar-width);
	}
}
