// 1rem = 1px
html {
	font-size: 1px;
	font-family: $font-family;
	width: 100vw;
	height: 100vh;
	background-color: $black;

	@include on-mobile() {
		font-size: 0.9px;
	}
}

body {
	min-height: 100%;
	font-size: 16rem;
	color: $white;
	background-color: $alt-color;
	scroll-behavior: smooth;
	z-index: 1;

	&::before {
		content: '';
		position: fixed;
		inset-inline: 0;
		height: 100vh;
		background-image: url('/images/background.jpg');
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;
	}

	#app {
		position: relative;
		z-index: 1;
	}
}

body[data-type='light'] {
	main {
		background-color: rgba($white, 0.9);
		color: $grey-300;
	}
}

body[data-type='dark'] {
	main {
		background-color: transparent;
		color: $white;
	}
}

main {
	padding-block: $spacing-8;
	min-height: calc(100vh - var(--header-height, 0) - var(--navbar-height, 0));

	@include on-desktop() {
		min-height: calc(100vh - var(--header-height, 0));
	}
}

.container {
	max-width: calc(100% - $spacing-8 * 2);
	margin-inline: auto;
}
