// 1rem = 1px
html {
	font-size: 1px;
	font-family: $font-family;
	width: 100vw;
	height: 100vh;
}

body {
	min-height: 100%;
	font-size: 16rem;
	color: $white;
	background-color: $alt-color;
	scroll-behavior: smooth;
	z-index: 1;

	&::before {
		content: '';
		position: fixed;
		inset-inline: 0;
		height: 100vh;
		background-image: url('/images/background.jpg');
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;
	}

	#app {
		position: relative;
		z-index: 1;
	}
}
