article {
	display: flex;
	flex-direction: column;
	position: relative;
	width: fit-content;
	max-width: min-content;
	text-align: center;

	@mixin background($image) {
		background-image: $image;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&.size-xs {
		font-size: 8rem;
	}
	&.size-s {
		font-size: 12rem;
	}
	&.size-m {
		font-size: 16rem;
	}
	&.size-l {
		font-size: 20rem;
	}
	&.size-xl {
		font-size: 24rem;
	}
	&.size-xxl {
		font-size: 28rem;
	}

	.cover {
		height: 12em;
		aspect-ratio: var(--cover-ratio);
		background-color: $grey-500;
		border-radius: 2%;
		box-shadow: 0 0.75em 5rem -5rem rgba($black, 0.35);
		margin-bottom: $spacing-4;
		@include background(var(--cover-image));
		position: relative;
	}

	strong {
		font-size: max(14rem, 0.9em);
		@include maxLines(1);
	}

	span {
		font-size: max(14rem, 0.85em);
		@include maxLines(1);
	}
}
