@use 'sass:string';
@use 'sass:map';

$sizes: (
	'xs': (
		0px,
		374px
	),
	'sm': (
		375px,
		519px
	),
	'md': (
		520px,
		767px
	),
	'lg': (
		768px,
		1023px
	),
	'xl': (
		1024px,
		9999999px
	)
);

@function getMin($size) {
	@return #{nth(map.get($sizes, $size), 1)};
}

@function getMax($size) {
	@return #{nth(map.get($sizes, $size), 2)};
}

@mixin on-size($size) {
	$min: getMin($size);
	$max: getMax($size);
	@media screen and (min-width: $min) and (max-width: $max) {
		@content;
	}
}

@mixin under-size($size) {
	$max: getMax($size);
	@media screen and (max-width: $max) {
		@content;
	}
}

@mixin over-size($size) {
	$min: calc(getMax($size) + 1px);
	@media screen and (min-width: $min) {
		@content;
	}
}

@mixin on-mobile() {
	@include under-size('md') {
		@content;
	}
}
@mixin over-mobile() {
	@include over-size('md') {
		@content;
	}
}

@mixin on-tablet() {
	@include over-size('md') {
		@include under-size('lg') {
			@content;
		}
	}
}
@mixin under-tablet() {
	@include under-size('md') {
		@content;
	}
}
@mixin over-tablet() {
	@include over-size('lg') {
		@content;
	}
}

@mixin on-desktop() {
	@include over-size('lg') {
		@content;
	}
}
@mixin under-desktop() {
	@include under-size('lg') {
		@content;
	}
}
